.darkorlightbutton{
    width: 4vw;
    height: 3.5vh;
    position: fixed;
    
    top: 92vh;
    left: 92vw;
    background-color: white;
    border: 0.1em solid var(--primary-color);
    border-radius: 2em;
    cursor: pointer;
    transition: all 1s;
}
.lightordarkcontainer {
    position: relative;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
}
#blockinbutton{
    transition: all 300ms ease-out;
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: 0.2vh;
    border-radius: 2em;
    background-color: var(--primary-color);
}