section {
    width: 100vw;
}
//INTROPAGE
.intro {
    height: 90vh;
    padding: 14vw 18vw;

    h1,
    h2,
    h3,
    h4,
    p,
    a {
        color: var(--primary-text-color);
    }
    p {
        font-size: 1.2em;
    }
    h1 {
        min-width: 40vw;
        font-size: 5em;
    }
    h2 {
        font-size: 3em;
    }
    p a {
        color: #fff;
    }
    a {
        padding: 0.4em 0.8em;
    }
    .linkonstart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        background-color: var(--primary-color-brighter);
        width: fit-content;
        height: fit-content;
        border-radius: 2em;
        font-size: 1.4em;
        transition: box-shadow 300ms;
        &:hover {
            box-shadow: 0 0 0.5em 0.1em var(--primary-color-brighter);
        }
    }
}
//SETTINGS COMPONENT
.cogwheel {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 4vh;
    right: 2vw;
    background-color: transparent;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 600ms;
    display: flex;
    align-items: center;
    &:hover {
        transform: rotate(120deg);
    }
    fa-icon {
        font-size: 2.5rem;
        color: var(--primary-text-color);
    }
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms;
    top: 40vh;
    right: 2vw;
    width: 20vw;
    height: 50vh;
    background-color: var(--darktowhite);
    border-radius: 0.5em;
    border: 0.1em solid var(--box-shadow-color);
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        padding-bottom: 1rem;
        box-shadow: 0 0.3em 0.5em -0.35em var(--box-shadow-color);
    }
    ul {
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .fancybackground {
        position: relative;
        width: 20vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 5vh;
            background-color: var(--primary-color-brighter);
            transition: width 200ms;
        }
        &:hover::before {
            width: 20vw;
        }
    }
    .eachsetting {
        position: absolute;
        width: 20vw;
        height: 5vh;
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        color: var(--primary-color-brighter);
        transition: color 200ms 200ms;
        -webkit-transition: color 200ms 200ms;
        -moz-transition: color 200ms 200ms;
        fa-icon {
            padding: 0 0.5em;
        }
        &:hover {
            color: var(--darkmode-darker);
        }
    }
}

#coversonsettingopen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}
//INFO SECTION
.aboutthispage {
    position: absolute;
    top: 80vh;
    height: 100vh;
    background-color: var(--darkmode);
}
.rotatedeffect {
    position: absolute;
    left: -2vw;
    width: 120vw;
    height: 5vh;
    transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    background-color: var(--darkmode);
}
.wrapper-about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.layoutinabout {
    width: 40%;
    height: 80%;
    * {
        color: var(--primary-text-color);
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    p {
        font-size: 1.1em;
        margin-top: 1em;
    }
}
.infoinabout {
    display: flex;
    flex-direction: column;
    h2{
        margin-top: 2em;
    }
}
.buttonstoclick {
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    fa-icon {
        margin-left: 0.5em;
        margin-top: 0.5em;
        font-size: 5em;
    }
}
.buttoncontainerforhomebuttons {
    width: 50rem;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--darkmode-darker);
        width: 8vw;
        height: 8vw;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0em 0.1em var(--primary-color);
        transition: all 200ms;
        border: none;
        
        h3,
        fa-icon {
            transition: box-shadow 300ms, color 500ms, filter 400ms;
            color: var(--primarytopurple);
        }
        h3 {
            font-size: 1.5em;
        }
        fa-icon {
            padding-right: 0.3em;
            font-size: 4em;
        }
        &:hover {
            transform: translate(0.2em, 0.3em);
            box-shadow: 0 0 0 0 var(--primary-color); 
            text-shadow: 0 0 0.5em #860086;
            * {
                color: var(--primary-color-brighter);
            }
            fa-icon{
                filter: drop-shadow(0 0 0.2em #860086);
                -webkit-filter: drop-shadow(0 0 0.2em #860086);
            }
        }
    }
}

//FOOTER
#scrolltotoparrow{
    font-size: 3em;
    position: fixed;
    bottom: .6em;
    visibility: hidden;
    right: 6vw;
    fa-icon{
        color: var(--primary-text-color);
    }
}