<app-header></app-header>
<main id="search" class="lightordark">
    <button (click)="toggleSettingsMenu()" class="cogwheel" id="cogwheel"><img src="../../assets/cogwheel.png"
            alt="informationbutton"></button>




    <div id="coversonsettingopen" (click)="toggleSettingsMenu()"></div>
        <section class="settings" id="settings">
            <h2>Settings</h2>
            <ul class="settingslist">
                <div class="fancybackground pointer" routerLink="login">
                    <li class="eachsetting">Register</li>
                </div>
                <div class="fancybackground pointer" routerLink="login">
                    <li class="eachsetting">Sign in</li>
                </div>
                <div class="fancybackground pointer">
                    <li class="eachsetting" (click)="darkLightMode()">Toggle Appearance</li>
                </div>
            </ul>
        </section>
</main>
<app-addsection id="add"></app-addsection>