.titlelogin{
    display: flex;
    align-items: center;
    padding: 0 1em;
    position: absolute;
    height: 10vh;
    width: 100vw;
    font-size: 2em;
    a{
        color: var(--primary-text-color);
    }
}
main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container {
    width: 80em;
    min-width: 40em;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: .5em;
}
.imagecontainer {
    width: 35em;
    min-width: 10em;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    fa-icon {
        font-size: 20em;
        color: var(--primary-color);
    }
}
.formcontainer {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h1 {
        font-size: 2.5em;
        color: #000;
    }
}
.formwrapper{
    position: relative;
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
form {
    width: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    fieldset{
        margin-top: 1em;
    }
    div{
        margin-top: 2em;
        label{
            margin-right: 1em;
        }
    }
}
fieldset {
    position: relative;
    height: 7vh;
    background-color: #fff;
    border: none;
    border-radius: 0.2em;
    
    fa-icon {
        position: absolute;
        left: 0.2em;
        bottom: 0.6em;
        padding: 0 .5em;
    }
    .envelope {
        color: #c98e35;
    }
    .key {
        color: #808080;
    }
    .circle {
        color: #008000;
    }
}

.names{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.inputs {
    width: 20vw;
    height: 4vh;
    border-radius: 0.2em;
    font-size: 1.1em;
    outline: none;
    border: none;
    transition: all 100ms;
    padding-left: 2em;
    border-bottom: 0.2em solid var(--yellow);
    
    &:hover{
        border-color: var(--primary-color-brighter);
    }
    &:focus{
        border-color: var(--primary-color);
        background-color: #d4d4d4;
    }
}

.namefields{
    width: 9vw;
    height: 4vh;
    padding-left: 0.2em;
}

.buttoncontainer {
    width: 20vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.loginbtn {
    min-width: 5em;
    height: 5vh;
    font-size: 1.1em;
    border-radius: 0.1em;
    transition: all 200ms;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    
    &:disabled{      
        background-color: transparent;
        color: #000;
        border: 2px solid var(--yellow);
        cursor: not-allowed;
    }
}
.regbtn{
    margin-top: 2em;
}
.changeinputscontainer {
    position: relative;
    width: 12vw;
    height: 4vh;
}
.changeinputs {
    min-width: 12em;
    height: 4vh;
    font-size: 1.1em;
    padding: 0 1em;
    span {
        padding: 0.2em 0;
        color: #000;
        border-bottom: 0.2em solid var(--yellow);
    }
}
.successmessage{
    position: absolute;
    color: green;
    bottom: 0;
}