<h1 class="lesserheader"><a routerLink="/">Oasis</a>
    <fa-icon [icon]="faSignOut" (click)="signOut()" class="pointer"></fa-icon>
</h1>
<main class="movingbackground">
    <div class="gridcontainer">
        <nav class="nav-info--utility">
            <div class="nameandemail">
                <h1>{{ this.firstname }} {{ this.lastname }}</h1>
                <p>{{ this.email }}</p>
            </div>

            <ul class="utility">
                Search more
            </ul>
        </nav>

        <div class="organizetitle flex-to-center">
            <h1>Organize menu</h1>
        </div>
        <!-- SHOPPING CART -->
        <div class="shoppingcartcontainer">
            Shopping Cart
        </div>
        <!-- ORIGANIZE SELECTORS -->
        <div class="organizemenucontainer">
           Container Organize
        </div>
    </div>
</main>
<app-settings></app-settings>