.gridcontainer{
    display: block;
    position: relative;
    top: 10vh;
    background: var(--darkmode);
    min-height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 5fr;
}
//Name and email info
.nav-info--utility { 
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;

    &>*{
        width: 50%;
    }

    .nameandemail{
        padding: var(--standard-padding);
        color: var(--primary-text-color);
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
}
.organizetitle { 
    grid-area: 1 / 2 / 2 / 3;
    color: var(--primary-text-color);
    border-left: 0.1em solid var(--primary-text-color);
    
}

.shoppingcartcontainer{
    grid-area: 2 / 1 / 3 / 2;
}
.organizemenucontainer{
    grid-area: 2 / 2 / 3 / 3;
}
.lesserheader{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    fa-icon{
        transition: transform 200ms ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}






