.flexcontainer{
    display: block;
    position: relative;
    top: 10vh;
    background: var(--darkmode);
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
}
.shoppingcartcontainer{
    max-width: 65%;
}
.organizemenucontainer{
    max-width: 35%;
    padding-inline: 2em;
    border-left: 0.1em solid var(--primary-text-color);
    h1, p{
        color: var(--primary-text-color);
    }
    h1{
        padding-block: 1em;
    }
}
.lesserheader{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    fa-icon{
        transition: transform 200ms ease;
        &:hover{
            transform: scale(1.1);
        }
    }
}






