footer{
    position: absolute;
    width: 100vw;
    height: 20vh;
    top: 180vh;
    background-color: var(--darkmode-darker);
    display: flex;
    :nth-child(n){
        flex-direction: column;
        justify-content: space-between;

    }
    section{
        padding: 10px 20px;
        display: flex;
        width: 25vw;
        height: 100%;
        color: var(--primary-text-color);
        h4{
            color: var(--primary-color-brighter);
        }
    }
    .socials{
        justify-content: flex-end;
    }
    .socials{
        justify-content: end;
        padding-bottom: 10px;
    }
}