@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --primary-color: #570057;
    --primary-color-brighter: #860086;
    --darkmode: #181818;
    --primary-text-color: #fff;
    
}
::-webkit-scrollbar{
    display: none;
}
*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

main{
    width: 100vw;
    height: 100vh;
}

.lightordark{
    background-color: var(--darkmode);
    color: var(--primary-color-brighter);
}

