.results{
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: var(--darkmode);
    border-radius: 0.25rem;
    padding: 0.8rem;
    height: fit-content;
    will-change: transform;
    transition: 300ms;
    outline: .1rem solid var(--yellow);
    .name{
        font-size: 1.6rem;
        letter-spacing: 0.05rem;
    }   
    .price{
        font-size: 1.3;
        font-weight: var(--thickfont);
    }
    &:hover{
        transform: scale(1.02);
    }
}
.items{
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
    &:not(:first-child){
        margin-top: 1rem;
    }
}