main{
    
}

.searchpanecontainer{
    background-color: var(--darkmode);
    position: relative;
    top: 10vh;
    height: 90vh;
    padding: min(3rem, 4vh) 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#searchbar{
    margin-left: 3em;
}