<main id="search" class="movingbackground">
    <section class="searchpanecontainer">
        <div class="wrapper-searchsec">
            <app-searchbar id="searchbar" (newItemEvent)="addItem($event)"></app-searchbar>

            <section class="allSearches">
                <aside class="categories">
                    <h2>Filter</h2>
                    <div class="test" (click)="categoryFilter('fruit')"></div>
                </aside>
                
                <section class="pane-container">
                    <div id="examplepane" class="thisorthat">
                        <h2>Our sortiment</h2>
                        <section class="resultcards">
                            <app-results *ngFor="let value of allItems" [dataValue]="value" class="searchResultComponent"></app-results>
                        </section>
                    </div>
    
                    <div id="resultpane" class="thisorthat">
                        <h2>Your Search. {{ this.searchedItems.length }} Results.</h2><button routerLink="/search" class="pointer" (click)="reloadWindow()">See all</button>
                        <section class="resultcards">
                            <app-results *ngFor="let value of searchedItems" [dataValue]="value" class="searchResultComponent"></app-results>
                        </section>
                    </div>
                </section>
            </section>
        </div>
    </section>

    <section class="addform displaycenter" id="addformcontainer">
        <div class="closeform" (click)="formCloseStyling()"></div>
        <form class="formcontent" (ngSubmit)="addNewGrocery()" id="addForm" [formGroup]="addForm">
            <header class="formheading">
                <h2>ADD A NEW GROCERY</h2>
                <fa-icon [icon]="faTimes" class="pointer" (click)="formCloseStyling()"></fa-icon>
            </header>

            <div class="inputsinforms">
                <label for="name">NAME</label>
                <input type="text" name="name" id="name" formControlName="name" autocomplete="off">
            </div>


            <div class="inputsinforms">
                <label for="brand">BRAND</label>
                <input type="text" name="brand" id="brand" formControlName="brand" autocomplete="off">
            </div>


            <div class="inputsinforms">
                <label for="category">CATEGORY</label>
                <input type="text" name="category" id="category" formControlName="category" autocomplete="off">
            </div>

            <div class="inputsinforms">
                <label for="description">DESCRIPTION</label>
                <textarea name="description" id="description" formControlName="description"
                    autocomplete="off"></textarea>
            </div>

            <div class="lasttwo">
                <div class="inputsinforms">
                    <label for="price">PRICE</label>
                    <input type="number" name="price" id="price" formControlName="price" autocomplete="off">
                </div>

                <div class="inputsinforms">
                    <label for="expiredDate">EXIPIRES IN (DAYS)</label>
                    <input type="number" name="expiredDate" id="expiredDate" formControlName="expiredDate"
                        autocomplete="off">
                </div>
            </div>

            <div class="lasttwo">
                <label for="imageUrl" class="buttonsinform pointer">Image file</label>
                <input type="file" name="imageUrl" id="imageUrl" formControlName="imageUrl" (change)="getFiles($event)">
                <button type="submit" class="btn buttonsinform pointer" [disabled]="addForm.invalid">Create</button>
            </div>
        </form>
        <div class="successmessage" id="successmessagegrocery">
            <svg id="checkmark" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle id="circleoncheckmark" class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                <path id="pathoncheckmark" class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
            <span>You successfully created a new grocery.</span>
        </div>
    </section>

</main>
<app-header [viewInit]="this.isOnSearchSection" (messageEvent)="receiveMessage($event)"></app-header>