main {
    min-height: 100vh;
}

#examplepane{
    visibility: visible;
}

#resultpane{
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms 500ms;
}


.searchpanecontainer {
    position: relative;
    top: 10vh;
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-searchsec {
    background: url(../../assets/background.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 0.5rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 2.5rem;
}

.allSearches {
    display: flex;
    width: 100%;
    height: 70vh;
}

.pane-container{
    position: relative;
    width: 80%;
    margin-left: 1rem;
}

.thisorthat {
    height: 100%;
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
    &:hover {
        h2 {
            border-color: var(--yellow);
        }
    }
    button{
        background-color: var(--primary-color);
        border: none;
        padding: .5rem 1rem;
        margin-left: 2rem;
        font-size: 1.2rem;
        border-radius: 0.15rem;
        color: var(--primary-text-color);
        transition: 250ms;
        &:hover{
            background-color: var(--yellow);
            color: #111;
        }

    }
    h2 {
        margin-left: 1rem;
        transition: 200ms;
        color: #111;
        padding-inline: 0.1rem;
        display: inline-block;
        border-bottom: 0.15rem solid var(--primary-color-brighter);
    }
}


.resultcards {
    height: calc(70vh - 3rem);
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1n, 1fr);
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
    overflow-y: scroll;
}

.categories {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkmode);
    width: 25%;
    padding: 1rem;
    border-radius: 0.5rem;
    &:hover {
        h2 {
            border-color: var(--yellow);
        }
    }
    h2 {
        transition: all 200ms;
        color: var(--primary-text-color);
        display: inline-block;
        padding-inline: 0.1rem;
        border-bottom: 0.15rem solid var(--primary-color-brighter);
        text-align: center;
    }
}

//ADDFORM

.addform {
    visibility: hidden;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    background-color: #161616e0;
    .closeform{
        position: absolute;
        width: 100vw;
        height: 90vh;
        top: 0;
        left: 0;
    }

    form {
        position: relative;
        transition: transform 600ms 100ms, opacity 200ms;
        transform: translateY(-5rem);
        opacity: 0;
        z-index: 1;
        background-color: var(--darkmode);
        width: 40vw;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        border-radius: .5rem;
        outline: 0.1rem solid var(--primary-color-brighter);
        h2{
            transition: 300ms;
        }
        .formheading{
            width: 100%;
            display: flex;
            justify-content: space-between;
            fa-icon{
                font-size: 2rem;
                color: var(--primary-text-color);
                transition: color 200ms;
                &:hover{
                    color: red;
                }
            }
        }
        .inputsinforms {
            width: 100%;
            
            input,
            label, textarea {
                width: 100%;

            }
            label{
                color: var(--primary-text-color);
                position: relative;
                bottom: .2rem;
            }
            input, textarea{
                border-radius: 0.15rem;
                border: none;
                outline: 0.125rem solid var(--primary-color-brighter);
                transition: 200ms;
                &:focus{
                    transform: scale(1.02);
                    outline-color: var(--yellow);
                }
                font-size: 1.1rem;
            }
            input{
                height: 1.8rem;
                padding-inline: .2rem;
            }
            textarea{
                height: 6rem;
                padding: .2rem;
                resize: none;
            }


            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input[type=number] {
                -moz-appearance: textfield;
            }
        }

        h2 {
            font-size: 2rem;
            color: var(--primary-text-color);
            border-bottom: var(--primary-color-brighter) 0.15rem solid;
            width: max-content;
        }

        //File input
        input[type="file"] {
            display: none;
        }

        .buttonsinform {
            position: relative;
            outline: 0.15rem solid var(--primary-color-brighter);
            padding: 1rem 1.3rem;
            color: var(--primary-text-color);
            border-radius: 0.1rem;
            transition: 300ms;
            font-weight: var(--regularfont);
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            will-change: transform;
            &:hover {
                transform: scale(1.03);
                background-color: var(--primary-color-brighter);
                color: #fff;
            }
            &:disabled:hover{
                color: var(--primary-text-color);
            }
            &:active {
                transform: scale(0.97);
            }
        }

        button {
            font-size: 1rem;
            background-color: var(--primary-color-brighter);
            &:disabled,
            &[disabled],
            &:disabled:hover {
                transform: scale(1);
                background-color: var(--darkmode);
                cursor: not-allowed;
            }
        }

        .lasttwo {
            display: flex;
            justify-content: space-between;
            .inputsinforms{
                width: 45%;
            }
        }
    }
}
