@import "bourbon";
main {
    max-height: 100vh;
}

#examplepane {
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

#resultpane {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 600ms 500ms;
}

.test {
    width: 30px;
    height: 30px;
    background-color: blue;
}

.searchpanecontainer {
    position: relative;
    top: 10vh;
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-searchsec {
    background: url(../../assets/background.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 0.5rem;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: 2.5rem;
}

.allSearches {
    display: flex;
    width: 100%;
    height: 70vh;
}

.pane-container {
    position: relative;
    width: 80%;
    margin-left: 1rem;
}

.thisorthat {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    &:hover {
        h2 {
            border-color: var(--yellow);
        }
    }
    button {
        background-color: var(--primary-color);
        border: none;
        padding: 0.5rem 1rem;
        margin-left: 2rem;
        font-size: 1.2rem;
        border-radius: 0.15rem;
        color: var(--primary-text-color);
        transition: 250ms;
        &:hover {
            background-color: var(--yellow);
            color: #111;
        }
    }
    h2 {
        margin-left: 1rem;
        transition: 200ms;
        color: #111;
        padding-inline: 0.1rem;
        display: inline-block;
        border-bottom: 0.15rem solid var(--primary-color-brighter);
    }
}

.resultcards {
    height: calc(70vh - 2.5rem);
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    overflow-y: scroll;
}

//ADDFORM
.addform {
    visibility: hidden;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    background-color: #161616e0;
    .closeform {
        position: absolute;
        width: 100vw;
        height: 90vh;
        top: 0;
        left: 0;
    }

    form {
        position: relative;
        transition: transform 600ms 100ms, opacity 200ms;
        transform: translateY(-5rem);
        opacity: 0;
        z-index: 1;
        background-color: var(--darkmode);
        width: 40vw;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        border-radius: 0.5rem;
        outline: 0.1rem solid var(--primary-color-brighter);
        h2 {
            transition: 300ms;
        }
        .formheading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            fa-icon {
                font-size: 2rem;
                color: var(--primary-text-color);
                transition: color 200ms;
                &:hover {
                    color: red;
                }
            }
        }
        .inputsinforms {
            width: 100%;

            input,
            label,
            textarea,
            select {
                width: 100%;
            }
            label {
                color: var(--primary-text-color);
                position: relative;
                bottom: 0.2rem;
            }
            input,
            textarea,
            select {
                border-radius: 0.15rem;
                border: none;
                outline: 0.125rem solid var(--primary-color-brighter);
                transition: 200ms;
                font-size: 1.1rem;
            }
            input {
                height: 1.8rem;
                padding-inline: 0.2rem;
                &:focus {
                    transform: scale(1.02);
                    outline-color: var(--yellow);
                }
            }
            textarea {
                height: 6rem;
                padding: 0.2rem;
                resize: none;

                &:focus {
                    transform: scale(1.02);
                    outline-color: var(--yellow);
                }
            }

            select {
                height: 1.8rem;
                * {
                    background-color: var(--darkmode);
                    color: var(--primary-text-color);
                }
                &:focus {
                    outline-color: var(--yellow);
                }
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
        }

        h2 {
            font-size: 2rem;
            color: var(--primary-text-color);
            border-bottom: var(--primary-color-brighter) 0.15rem solid;
            width: max-content;
        }

        //File input
        input[type="file"] {
            display: none;
        }

        .buttonsinform {
            position: relative;
            outline: 0.15rem solid var(--primary-color-brighter);
            padding: 1rem 1.3rem;
            color: var(--primary-text-color);
            border-radius: 0.1rem;
            transition: 300ms;
            font-weight: var(--regularfont);
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            will-change: transform;
            &:hover {
                transform: scale(1.03);
                background-color: var(--primary-color-brighter);
                color: #fff;
            }
            &:disabled:hover {
                color: var(--primary-text-color);
            }
            &:active {
                transform: scale(0.97);
            }
        }

        button {
            font-size: 1rem;
            background-color: var(--primary-color-brighter);
            &:disabled,
            &[disabled],
            &:disabled:hover {
                transform: scale(1);
                background-color: var(--darkmode);
                cursor: not-allowed;
            }
        }

        .lasttwo {
            display: flex;
            justify-content: space-between;
            .inputsinforms {
                width: 45%;
            }
        }
    }
}
//CHECKMARK
.successmessage {
    position: absolute;
    z-index: 999;
    width: 26vw;
    height: 26vw;
    border-radius: 0.75rem;
    outline: 0.15rem solid var(--primary-color-brighter);
    background-color: var(--darkmode-card);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms;
    span {
        text-align: center;
        font-size: 1.3rem;
        color: var(--primary-text-color);
    }
}
.checkmark {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff; // DARKMODEDARKER
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px var(--primary-color-brighter);
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: var(--primary-color-brighter);
    fill: none;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 10rem var(--primary-color-brighter);
    }
}

.categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--darkmode);
    width: 25%;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    h2 {
        transition: all 200ms;
        color: var(--primary-text-color);
        text-align: center;
        font-size: 1.7rem;
        letter-spacing: 0.05rem;
        padding-block: 0.5rem;
    }
}

.categoryfilter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary-text-color);
    font-size: 1.1rem;
    .category-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 0.15rem solid var(--primary-text-color);
        &:first-child {
            height: 65%;
            border-top: 0.15rem solid var(--primary-text-color);
        }
        &:last-child {
            height: 35%;
        }
        li {
            width: 100%;
            padding-block: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 250ms;
            border-radius: 0.15rem;
            &:hover {
                background-color: rgb(44, 44, 44);
            }
        }
        p {
            width: 100%;
            text-align: start;
            font-size: 1.5rem;
            padding-left: 1rem;
        }
    }
}

.singlefilter {
    cursor: pointer;
}

.menuShoppingcart {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 100vh;
    width: 25vw;
    background-color: var(--darkmode);
    left: 101vw;
    transition: left ease-in-out 350ms;
    section {
        height: 70vh;
        width: 100%;
        overflow-y: scroll;
    }
}
.menutitle {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    padding-inline: 1.5rem;
    align-items: center;
    border-bottom: 0.1rem solid var(--primary-text-color);
    color: var(--primary-text-color);
    fa-icon {
        transition: 250ms;
        font-size: 2.3rem;
        &:hover {
            color: red;
        }
    }
}
.menuFooter {
    display: flex;
    height: 20vh;
    width: 100%;
    border-top: 0.1rem solid var(--primary-text-color);
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h2 {
        color: var(--primary-text-color);
    }
    button {
        height: 25%;
        width: 60%;
        background-color: var(--darkmode-darker);
        border: none;
        outline: 0.1rem solid var(--primary-color-brighter);
        border-radius: 0.15rem;
        color: var(--primary-text-color);
        font-size: 1.25rem;
        transition: 250ms;
        font-weight: var(--thickfont);
        letter-spacing: 0.06rem;
        &:hover {
            background-color: var(--primary-color-brighter);
            color: var(--darkmode-card);
        }
    }
}
#hideShoppingCart {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #80797966;
    transition: ease-in-out 300ms;
    visibility: hidden;
    opacity: 0;
}

.shoppingcart-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    padding: 1rem;

    border-bottom: 0.1rem solid var(--primary-text-color);

    div {
        font-size: 1.1rem;
        color: var(--primary-text-color);
    }
    .sc-grid-wrapper {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .sc-image {
        width: 15%;
    }
    .sc-name {
        padding-bottom: 0.5rem;
        grid-area: 1 / 1 / 2 / 3;
    }
    .sc-price {
        grid-area: 2 / 1 / 3 / 2;
    }
    .sc-plusorminus {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        button {
            width: 1.5vw;
            height: 1.5vw;
            cursor: pointer;
            color: var(--primary-text-color);
            font-size: 1.2rem;
            font-weight: var(--thickfont);
            outline: 0.1rem solid var(--primary-color-brighter);
            border-radius: 0.15rem;
        }
    }
    .sc-trash-item {
        fa-icon {
            padding-inline: 0.5rem;
            font-size: 1.5rem;
            color: rgb(255, 65, 65);
        }
    }
}

.results {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: var(--darkmode);
    border-radius: 0.25rem;
    padding: 0.8rem;
    height: fit-content;
    will-change: transform;
    transition: 300ms;
    outline: 0.1rem solid var(--yellow);
    .name {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
    .price {
        font-size: 1.2rem;
        font-weight: var(--thickfont);
    }
    &:hover {
        transform: scale(1.02);
    }
}
.items {
    text-align: center;
    color: var(--primary-text-color);
    .increaseordecrease {
        button {
            margin-inline: 0.5rem;
        }
    }
    button {
        margin: 0 auto;
    }
    &:not(:first-child) {
        margin-top: 1rem;
    }
}
.increaseordecrease {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
        cursor: pointer;
    }
}
//POPUP WITH DELETE & EDIT
.popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 90vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: 200ms;
    background-color: rgba(17, 17, 17, 0.5);
}
//EDIT MODE
.popup-main {
    position: relative;
    width: 44vw;
    height: 80vh;
    background-color: var(--darkmode);
    border-radius: 1rem;
    outline: 0.15rem solid var(--primary-color-brighter);
    padding-inline: 1.5rem;
    padding-top: 1rem;
    color: var(--primary-text-color);
    fa-icon {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        font-size: 2.5rem;
        color: var(--primary-text-color);
        transition: 250ms;
        &:hover {
            color: red;
        }
    }
    .infoinpopup {
        width: 100%;
        height: 86%;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        padding-bottom: 1rem;
        .action-wrapper {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            backdrop-filter: blur(10px);
            border-radius: 0.15rem;
            transition: 250ms;
            .confirm-action {
                width: 50%;
                height: 30%;
                background-color: var(--darkmode-card);
                outline: 0.15rem solid var(--primary-color-brighter);
                border-radius: 0.15rem;
                
                .action-buttons {
                    height: 100%;
                    width: 100%;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1.5rem;
                    display: none;
                    h2{
                        text-align: center;
                    }
                    &:first-child, &:last-child{
                        display: none;
                    }
                    .buttoncontainer-action {
                        display: flex;
                        justify-content: space-evenly;
                        width: 80%;
                        button{
                            padding: .5rem 1rem;
                            background-color: var(--primary-color-brighter);
                            color: #fff;
                            border: none;
                            border-radius: .15rem;
                            font-size: 1.1rem;
                            transition: 100ms;
                            &:hover{
                                background-color: var(--yellow);
                                color: #111;
                            }
                        }
                    }
                }
            }
        }

        .displaycenter {
            align-items: flex-start;
            flex-direction: column;
            h3,
            p {
                font-size: 1.25rem;
            }
        }
        .popupname {
            font-size: 2.5vw;
        }
        .image-container-popup {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding: 0.5rem 0;
            img {
                margin-right: 2rem;
                margin-top: 2rem;
                width: 70%;
            }
        }
        .select-cateory {
            display: none;
            width: 100%;
            background-color: var(--darkmode);
            outline: none;
            border-radius: .15rem;
            padding: 0;
            border: none;
            font-size: 1.15rem;
            color: var(--primary-text-color);
        }
    }
    .button-container {
        height: 14%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 0.15rem solid var(--primary-color-brighter);
        button{
            &:hover{
                background-color: var(--yellow);
                color: #111;
                outline-color: var(--yellow);
            }
        }
        & > button:only-child {
            justify-content: center;
        }
        button {
            font-size: 1.2rem;
            color: var(--primary-text-color);
            outline: 0.15rem solid var(--primary-color-brighter);
            transition: 300ms;
            border-radius: 0.15rem;
            padding: 1rem 1.5rem;
        }
        .plusorminus {
            padding: 0;
            width: 2vw;
            height: 2vw;
            font-size: 1.5rem;
        }
        .editgrocery {
            &:hover {
                background-color: var(--yellow);
                outline-color: var(--yellow);
                color: #111;
            }
        }
        .deletegrocery {
            &:hover {
                background-color: red;
                outline-color: red;
            }
        }
        .addgrocery {
            background-color: var(--primary-color);
            color: #fff;
            font-weight: var(--thickfont);
            &:hover {
                background-color: rgb(93, 185, 185);
                outline-color: rgb(93, 185, 185);
                color: #111;
            }
        }
        .increaseordecrease {
            button {
                background-color: var(--primary-color);
            }
            button:hover {
                background-color: var(--yellow);
                outline-color: var(--yellow);
                color: #111;
            }
            p {
                font-size: 1.5rem;
            }
            p,
            button:last-child {
                margin-left: 1.5rem;
            }
        }
    }
}

.editmode, .editmodep{
    border-radius: .15rem;
    &[contenteditable]{
        outline: none;
        
    }
    span[contenteditable]{
        outline: none;
    }
}

.editmode{
    margin-top: .2rem;
    margin-left: .2rem;
    &:focus{
        border-color: var(--yellow);
    }
}

.editmodep{
    width: 99%;
    margin-inline: auto;
    span{
        font-size: 1.1rem;
    }
    span[contenteditable]{
        border-radius: .15rem;
    }
}

.grid-two-row {
    grid-column-start: 1;
    grid-column-end: 3;
}

.laptop {
    display: block;
}
.desktop {
    display: none;
}
@media screen and (min-width: 1600px) {
    .laptop {
        display: none;
    }
    .desktop {
        display: block;
    }
    .shoppingcart-items {
        div {
            font-size: 1.2rem;
        }
    }
    .items {
        .increaseordecrease {
            button {
                margin-inline: 1rem;
            }
        }
    }
}
