<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE SYSTEM>
<Configuration status="debug" name="yrgoApp" packages="">
	<Appenders>
		<File name="infoLogFile"
			fileName="C:\Users\handb\Documents\Kurser\ProjektEntr\GroceryApplication\backend\src\main\resources\logfiles\information.log"
			append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
		</File>
		<File name="errorLogFile"
			fileName="C:\Users\handb\Documents\Kurser\ProjektEntr\GroceryApplication\backend\src\main\resources\logfiles\errors.log"
			append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
			</PatternLayout>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="infoLogger" level="info">
			<AppenderRef ref="infoLogFile" />
		</Logger>
		<Logger name="errorLogger" level="error">
			<AppenderRef ref="errorLogFile" />
		</Logger>
	</Loggers>
</Configuration>