header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0 2em;
    position: fixed;
    top: 0;
    border-bottom: .2em solid var(--primary-color);
    color: var(--primary-text-color);
}
ul{
    list-style-type: none;
    width: 26vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        color: var(--primary-text-color);
        transition: all 200ms;
        &:hover{
            color: var(--primary-color-brighter);
        }
    }
}
.link{
    text-decoration: none;
}