header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0 2em;
    position: fixed;
    top: 0;
    box-shadow: 0 0 .3em .2em #860086;
    color: var(--primary-text-color);
}
ul{
    list-style-type: none;
    width: 26vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1rem;
        color: var(--primary-text-color);
        transition: all 200ms;
        &:hover{
            color: var(--primary-color-brighter);
        }
        
    }
}
.link{
    display: flex;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    &:hover{
        border-image: linear-gradient(to top,grey 1px,transparent 0) 2;
    }
}