<header id="header">
    <div class="maintitle">
        <h1><a routerLink="">Oasis</a></h1>
        <div *ngIf="this.loggedInHeader">
            <fa-icon [icon]="faDna"></fa-icon>
            <h3>Signed in as "{{ this.firstname }} {{ this.lastname }}"</h3>
        </div>
    </div>
    <div class="icons">
        <!--NAV MENU-->
        <nav class="menucontainer" *ngIf="this.viewInit">
            <ul class="links" id="menu">
                <a routerLink="/search" class="link">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </a>
                <a *ngIf="!loggedInHeader" routerLink="/signin" routerLinkActive="activelink" class="link">
                    <fa-icon [icon]="faSignIn"></fa-icon>
                </a>
                <a *ngIf="loggedInHeader" routerLink="/myaccount" routerLinkActive="activelink" class="link">
                    <fa-icon [icon]="faUserCircle"></fa-icon>
                </a>
            </ul>
            <div id="nav-icon" (click)="toggleMenu()" class="">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>

        <div class="addgrocery" *ngIf="!this.viewInit && this.loggedInAsAdmin">
            <fa-icon [icon]="faPlus" class="pointer" (click)="alterForm()"></fa-icon>
        </div>

        <div class="shoppingcart" *ngIf="!this.viewInit">
            <fa-icon [icon]="faShoppingCart" class="pointer"></fa-icon>
        </div>

    </div>
</header>