<header id="header">
    <div class="maintitle"><h1><a routerLink="">Oasis</a></h1><p *ngIf="this.loggedInHeader">Signed in as "{{ this.email }}"</p></div>
    <div class="icons">
        <div class="menucontainer">
            <ul class="links" id="menu">
                <a routerLink="/search" class="link">
                    <li class="displaycenter">Search article</li>
                </a>
                <a *ngIf="!loggedInHeader" routerLink="/signin" routerLinkActive="activelink" class="link">
                    <li class="displaycenter">Register / Sign in</li>
                </a>
                <a *ngIf="loggedInHeader" routerLink="/myaccount" routerLinkActive="activelink" class="link">
                    <li class="displaycenter">My Account</li>
                </a>
            </ul>
            <fa-icon [icon]="faUserCircle" class="pointer" (click)="toggleMenu()"></fa-icon>
        </div>
    </div>

</header>