header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 0 2em;
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    color: #fff;
}
ul{
    list-style-type: none;
    width: 26vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    li{
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.1rem;
        color: #fff;
        
    }
}
.link{
    text-decoration: none;
    height: 100%;
}